.conteudoSobreCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: min(100%, 1100px);
    margin: 0 auto;
    padding: 20px;
}

.sobreCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 800px;
    gap: 20px;
}

.sobreCurso h4{
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.sobreTextCurso p{
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
}