.cardTrabalho {
    width: 650px;
    background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 8px 20px -13px #000000;
    border-radius: 20px;
    padding: 15px;
    margin-top: 25px;
    gap: 15px;
}

.cardLogoTrabalho {
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogoTrabalho img {
    height: 100%;
    border-radius: 10px;
}

.cardDescriçãoEmpresaTrabalho {
    text-align: center;
    padding: 7px 0px 0px 0px;
    height: 30px;
}

.cardDescriçãoVagaTrabalho {
    padding: 7px 0px 7px 0px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.cardDescriçãoContatoTrabalho {
    height: 30px;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

.cardTrabalho {
    transition: transform 0.3s ease-in-out;
}

.cardTrabalho:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {

    .cardTrabalho {
        flex-direction: column;
        width: 100%;
        padding: 40px 0px 40px 0px;
    }
}

@media screen and (max-width: 550px) {
    .cardDescriçãoTrabalho {
        padding: 0px 25px 0px 25px;
    }
}