.card{
    height: 100px;
    width: 400px;
    background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 8px 20px -13px #000000;
    border-radius: 20px;
    padding: 15px;
    margin-top: 25px;
    gap: 15px;
}

.cardLogo{
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogo img{
    height: 100%;
}

.cardDescrição{
    width: 100%;
}

.cardDescriçãoEmpresa{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 7px 0px 0px 0px;
}

.cardDescriçãoVaga{
    padding: 7px 0px 7px 0px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.cardDescriçãoContato{
    height: 30px;
    text-align: center;
    padding: 7px 0px 7px 0px;
}