.cardCurso {
    width: 600px;
    background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 8px 20px -13px #000000;
    border-radius: 20px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 15px;
    transition: transform 0.3s ease-in-out;
}

.cardCurso:hover {
    transform: scale(1.1);
}

.cardLogo {
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogo img {
    height: 100%;
}

.cardDescrição {
    width: 100%;
    margin: 0px 0px 5px 0px;
}

.cardDescriçãoEmpresa {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 7px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    gap: 5px;
}

.cardDescriçãoVaga {
    padding: 7px 0px 7px 0px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.cardDescriçãoContato {
    height: 30px;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

h4,
h5 {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

@media screen and (max-width: 670px) {

    .cardCurso {
        flex-direction: column;
        width: 100%;
        padding: 0px 40px 0px 40px;
    }
}