:root {
    --gradient: linear-gradient(to right,
            rgb(255, 247, 173),
            rgb(255, 169, 249))
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-top: 3px solid #FFA9F9;
    border-image: var(--gradient)1;
    position: relative;
    bottom: 0;
}

.footerSectionUm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    width: 100%;
    height: 60px;
}

.footerSectionUm nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerText h4 {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.footerText p {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.footerSectionDois {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #FFF7AD, #FFA9F9);
}

.footerTextDois {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
}

h4,
h6 {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

h6 {
    color: #0CC0DF;
}

@media screen and (max-width: 550px) {

    .footerSectionUm {
        flex-direction: column;
        height: 100px;
    }

}