/* .tela{
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    width: min(100%, 1100px);
    margin: 0 auto;
    flex-direction: column;
} */

.conteudoSobre{
    display: flex;
    justify-content: center;
    align-items: center;

}

.sobre{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    display: flex;
    width: 600px;
    gap: 20px;
}

.sobre h4{
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #0CC0DF;
}

.sobreText {
    font-weight: 400;
    width: 100%;
}

.sobreText p{
    font-family: "Raleway", sans-serif;
    font-size: 1em;
}

.sobreFoto {
    height: 400px;
    /* width: 300px;*/
}


.sobreFoto img{
    height: 100%;
}

@media screen and (max-width: 1200px){

    .conteudoSobre{
        flex-direction: column;
    }

}

@media screen and (max-width: 750px){

    .sobre{
        width: 100%;
        gap: 20px;
    }

    .tela{
        margin-bottom: 5px;
    }


}

@media screen and (max-width: 550px){

    .sobre{
        /* width: 80%; */
        gap: 20px;
    }

    .sobreFoto img{
        height: 80%;
    }

}